body
{
   height: 80vh; 
}
.done
{
  /*background: url(raj1.png);  */
    /*background-color:rgba(220,83,0,0.6);*/
    background-color:skyblue;
    border-color: black;
    border-style: solid;
    margin-left:400px ;
    margin-right:400px ;
    
  
}
.first{
    width:30%;
    margin-left: 170px;
   
}
.second{
    
}
h1
{
    text-align:center;
    font-size: 50px ;
    color:darkcyan ;
}
form{
    margin: 20px auto ;
    width: 320 px ;
    color:darkcyan;
     font-family:cursive;
    
}
input
{
    padding:  10px ;
    font-size: inherit;
   background-color: #d0d0e1 ;
}

input[type="text"]
{
    display:block;
    margin-bottom:25px;
    width : 100% ;
    border: 2px solid black ;
}
input[type="password"]
{
    display:block;
    margin-bottom:25px;
    width : 100% ;
    border: 2px solid black ;
}
input[type="email"]
{
    display:block;
    margin-bottom:25px;
    width : 100% ;
    border: 2px solid black ;
}
input[type:"radio"]{
    margin : 0 8px 25px 18px ;
}
input[type:"radio"]:first-child
{
    margin-left: 0 ;
}
input[type="submit"]
{
    margin-left:42% ;
    width: 344 px;
    height: 45 px ;
    border: none ;
    background :#52527a;
    color:white;
}
input[type = "radio"]:checked + label 
{
    font-weight: bold;
    font-size : 18 px ;
}







input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}